---
- name: Ensure Sapling config directory exists
  ansible.builtin.file:
    path: "{{ home_dir }}/.config/sapling"
    state: directory
    mode: "0755"
  when: ansible_facts["os_family"] != "Windows"

- name: Symlink Sapling config
  symlink:
    src: "{{ dotfiles_dir }}/sapling/sapling.conf"
    dest: "{{ home_dir }}/.config/sapling/sapling.conf"
    force: false
  when: ansible_facts["os_family"] != "Windows"

- name: Ensure macOS Sapling Preferences directory exists
  ansible.builtin.file:
    path: "{{ home_dir }}/Library/Preferences/sapling"
    state: directory
    mode: "0755"
  when: ansible_facts["system"] == "Darwin"

- name: Symlink Sapling config to Library/Preferences (macOS)
  symlink:
    src: "{{ dotfiles_dir }}/sapling/sapling.conf"
    dest: "{{ home_dir }}/Library/Preferences/sapling/sapling.conf"
    force: false
  when: ansible_facts["system"] == "Darwin"
