[submodule "vim/vim/bundle/vim-fugitive"]
	path = vim/vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/vim/bundle/ctrlp"]
	path = vim/vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "vim/vim/bundle/solarized"]
	path = vim/vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/vim/bundle/ack"]
	path = vim/vim/bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "vim/vim/bundle/Haskell-Conceal"]
	path = vim/vim/bundle/Haskell-Conceal
	url = https://github.com/strager/Haskell-Conceal.git
