[submodule "vim/vim/bundle/solarized"]
	path = vim/vim/pack/external/start/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/vim/bundle/typescript-vim"]
	path = vim/vim/pack/external/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "vim/vim/bundle/fzf"]
	path = vim/vim/pack/external/start/fzf
	url = https://github.com/strager/fzf
[submodule "vim/vim/bundle/ale"]
	path = vim/vim/pack/external/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "vim/vim/bundle/vim-nix"]
	path = vim/vim/pack/external/start/vim-nix
	url = https://github.com/LnL7/vim-nix.git
[submodule "zsh/zsh-autosuggestions"]
	path = zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "vim/vim/pack/external/start/rust.vim"]
	path = vim/vim/pack/external/start/rust.vim
	url = https://github.com/strager/rust.vim
[submodule "vim/vim/pack/external/start/editorconfig-vim"]
	path = vim/vim/pack/external/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/vim/pack/external/start/vim-surround"]
	path = vim/vim/pack/external/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
