[submodule "vim/vim/bundle/solarized"]
	path = vim/vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/vim/bundle/ack"]
	path = vim/vim/bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "vim/vim/bundle/Haskell-Conceal"]
	path = vim/vim/bundle/Haskell-Conceal
	url = https://github.com/strager/Haskell-Conceal.git
[submodule "vim/vim/bundle/typescript-vim"]
	path = vim/vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "vim/vim/bundle/fzf.vim"]
	path = vim/vim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "vim/vim/bundle/fzf"]
	path = vim/vim/bundle/fzf
	url = https://github.com/junegunn/fzf
