<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classicInvertColor</key>
	<false/>
	<key>closeViewDesiredZoomFactor</key>
	<real>1.8971893120623624</real>
	<key>closeViewHotkeysEnabled</key>
	<false/>
	<key>closeViewPanningMode</key>
	<integer>0</integer>
	<key>closeViewScrollWheelToggle</key>
	<true/>
	<key>closeViewSmoothImages</key>
	<false/>
	<key>closeViewSplitScreenRatio</key>
	<real>0.20000000000000001</real>
	<key>closeViewZoomDisplayID</key>
	<integer>0</integer>
	<key>closeViewZoomFactor</key>
	<real>1</real>
	<key>closeViewZoomFactorBeforeTermination</key>
	<real>1</real>
	<key>closeViewZoomedIn</key>
	<false/>
	<key>contrast</key>
	<real>0.0</real>
	<key>differentiateWithoutColor</key>
	<false/>
	<key>dwellHideUITimeout</key>
	<real>15</real>
	<key>grayscale</key>
	<false/>
	<key>grayscaleMigrated</key>
	<true/>
	<key>hoverTextEnabled</key>
	<false/>
	<key>hudNotifiedConstrast</key>
	<real>0.0</real>
	<key>increaseContrast</key>
	<false/>
	<key>keyboardAccessEnabled</key>
	<false/>
	<key>keyboardAccessFocusRingTimeout</key>
	<real>15</real>
	<key>keyboardAccessPassthroughMode</key>
	<false/>
	<key>mouseDriverCursorSize</key>
	<real>1.7210101082004556</real>
	<key>reduceMotion</key>
	<false/>
	<key>reduceTransparency</key>
	<false/>
	<key>restoreTrueToneEnabled</key>
	<false/>
	<key>selectedTab</key>
	<integer>14</integer>
	<key>sessionChange</key>
	<false/>
	<key>showToolbarButtonShapes</key>
	<false/>
	<key>showWindowTitlebarIcons</key>
	<true/>
	<key>slowKey</key>
	<false/>
	<key>slowKeyDelay</key>
	<integer>250</integer>
	<key>stickyKey</key>
	<false/>
	<key>switchAutoScanElementInterval</key>
	<real>0.5</real>
	<key>switchAutoScanPanelInterval</key>
	<real>0.5</real>
	<key>switchCoalescePressesDuration</key>
	<real>0.0</real>
	<key>switchFirstElementDelay</key>
	<real>0.0</real>
	<key>switchHideUITimeout</key>
	<real>15</real>
	<key>switchHoldBeforeRepeatDuration</key>
	<real>3</real>
	<key>switchMinimumPressDuration</key>
	<real>0.0</real>
	<key>switchSweepingCursorSpeed</key>
	<real>5</real>
	<key>useStickyKeysShortcutKeys</key>
	<false/>
	<key>whiteOnBlack</key>
	<false/>
</dict>
</plist>
