<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppleAccentColor</key>
	<integer>5</integer>
	<key>AppleAntiAliasingThreshold</key>
	<integer>4</integer>
	<key>AppleAquaColorVariant</key>
	<integer>1</integer>
	<key>AppleEnableSwipeNavigateWithScrolls</key>
	<false/>
	<key>AppleHighlightColor</key>
	<string>0.968627 0.831373 1.000000 Purple</string>
	<key>AppleICUForce24HourTime</key>
	<true/>
	<key>AppleInterfaceStyle</key>
	<string>Dark</string>
	<key>AppleInterfaceStyleSwitchesAutomatically</key>
	<true/>
	<key>AppleKeyboardUIMode</key>
	<integer>0</integer>
	<key>AppleLocale</key>
	<string>en_US</string>
	<key>AppleMiniaturizeOnDoubleClick</key>
	<false/>
	<key>AppleReduceDesktopTinting</key>
	<true/>
	<key>AppleShowAllExtensions</key>
	<true/>
	<key>AppleShowScrollBars</key>
	<string>Automatic</string>
	<key>CGDisableCursorLocationMagnification</key>
	<true/>
	<key>InitialKeyRepeat</key>
	<integer>25</integer>
	<key>KB_DoubleQuoteOption</key>
	<string>"abc"</string>
	<key>KB_SingleQuoteOption</key>
	<string>'abc'</string>
	<key>KeyRepeat</key>
	<integer>2</integer>
	<key>NSAutomaticCapitalizationEnabled</key>
	<false/>
	<key>NSAutomaticDashSubstitutionEnabled</key>
	<false/>
	<key>NSAutomaticPeriodSubstitutionEnabled</key>
	<false/>
	<key>NSAutomaticQuoteSubstitutionEnabled</key>
	<false/>
	<key>NSAutomaticSpellingCorrectionEnabled</key>
	<false/>
	<key>NSAutomaticTextCompletionEnabled</key>
	<true/>
	<key>com.apple.keyboard.fnState</key>
	<true/>
	<key>com.apple.mouse.scaling</key>
	<string>-1</string>
	<key>com.apple.sound.beep.feedback</key>
	<integer>0</integer>
	<key>com.apple.sound.beep.flash</key>
	<integer>0</integer>
	<key>com.apple.sound.beep.volume</key>
	<real>0.0</real>
	<key>com.apple.sound.uiaudio.enabled</key>
	<integer>0</integer>
	<key>com.apple.springing.delay</key>
	<real>0.5</real>
	<key>com.apple.springing.enabled</key>
	<true/>
	<key>com.apple.swipescrolldirection</key>
	<false/>
	<key>com.apple.trackpad.forceClick</key>
	<false/>
	<key>com.apple.trackpad.scaling</key>
	<real>0.6875</real>
</dict>
</plist>
