---
- name: Backup gnome-terminal config
  ansible.builtin.shell: |
    backup_path=$(mktemp /tmp/gnome-terminal_config_backup.XXXXXXXX)
    /usr/bin/dconf dump /org/gnome/terminal/ >"${backup_path}"
    echo "note: restore old settings with:"
    echo "      /usr/bin/dconf load /org/gnome/terminal/ <${backup_path}"
  when:
    - ansible_facts["system"] == "Linux"
  changed_when: false

- name: Load gnome-terminal config
  ansible.builtin.shell: |
    /usr/bin/dconf load /org/gnome/terminal/ < "{{ dotfiles_dir }}/gnome-terminal/gnome-terminal.ini"
    echo "note: gnome-terminal config is not automatically updated"
  when:
    - ansible_facts["system"] == "Linux"
  changed_when: true
